# EE_2.06_SciProg Course Material
# R. Becker, 2021-03-29, V001

# Use .gitignore to not share all solutions at once.
# By default ignore all directories containing solutions denoted by trailing pattern _soln

*_soln/
*_dev/
*_old/
*_INCLASS/
tmp/

*_soln.ipynb
*_dev.ipynb

*.ipynb_checkpoints/

*_old
*checkpoint.ipynb


# Exceptions allow to disseminate the solutions selectively.

